body{
    width:900px;
    margin:0px auto;
    font-size:16pt;
    color:#CCC;
    background-color:#333;
    line-height:1.5em;
    max-width:100%;
    font-family:微軟正黑體,思源黑體
}
img{
    max-width:100%
}
#nav{
    color:#CC3;
}
#nav>span{
    text-decoration: underline;
    cursor:pointer;
}
#uploader{
    width:320px;
    height:240px;
    border:1px solid lightgray;
    border-radius:5px;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    background-color:#444;
}
#uploader>div{
    text-align:center;
    display:inline-block;
}
#uploader .upload-button{
    padding:5px 10px;
    border:1px solid gray;
    background-color:lightgray;
    border-radius:5px;
    color:black;
    cursor:pointer;
}
#uploader .upload-msg{
    color:white;
}
#epub{
    text-align:center;
}
#epub>p{
    width:320px;
    font-size:16px;
    margin:0px auto;
    text-align:left;
    padding:1em 0em;
    color:white;
}
#epub>p>a:link, #epub>p>a:visited{
    color:#cc3;
}
#dir li{
    cursor:pointer;
}
#dir li:hover{
    font-weight:bold;
}
#page p{
    margin:0.4em 0px;
}