<h3>字詞轉換</h3>
<div class="loca-selector">
    從
    <select class='loca-selector-from'>
        <option value="cn">簡體</option>
        <option value="tw">繁體(臺灣)</option>
        <option value="twp">繁體(臺灣+詞彙)</option>
        <option value="hk">繁體(香港)</option>
        <option value="jp">日本新字體</option>
    </select>
    到
    <select class='loca-selector-to'>
        <option value="cn">簡體</option>
        <option value="tw">繁體(臺灣)</option>
        <option value="twp">繁體(臺灣+詞彙)</option>
        <option value="hk">繁體(香港)</option>
        <option value="jp">日本新字體</option>
    </select>
</div>
<h3>編碼轉換</h3>
<div>
    從
    <select class='loca-selector-enc'>
        <option value="utf-8">utf-8</option>
        <option value="big5">big5</option>
        <option value="gb18030">gb18030</option>
        <option value="shift-jis">shift-jis</option>
    </select>
    到
    <select disabled>
        <option value="utf-8">utf-8</option>
    </select>
</div>
<p>這個選項用來指定文字檔以何種編碼讀取，輸出都會轉為 utf-8</p>